@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Shady Springs Apartment Complexes</h1>
    <p class="lead">Compliance and complaints about the apartment are cataloged here. We use this site to manage the apartments and reasources for getting fixes and adjustments to living quarters.</p>
</div>

