@{
    ViewBag.Title = "Index";
}

<div style="text-align: center">
    <h2>Internet Language Translator</h2>
</div>
<br />

@Html.TextBox("ToTranslate", null , new { @class = "form-control", placeholder = "Start your message here..." })  