.col-md-8 {
    margin-top: 50px;
    padding-top: 100px;
    padding-block-end: 200px;
	border: 5px black solid;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}

#progression {
    box-shadow: 3px 3px 5px #888;
    border-radius: 6px;
    width: 150px;
    height: 40px;
    text-align: center;
    background-color: lightgrey;
    color: red;
    font-family:'Rokkitt', serif;
    position: relative;
    margin: auto;
}

#submission {
    box-shadow: 3px 3px 5px #888;
    border-radius: 6px;
    width: 150px;
    height: 40px;
    text-align: center;
    background-color: lightgrey;
    color: red;
    font-family:'Rokkitt', serif;
    position: relative;
    margin: auto;
}