body {
    padding-top: 50px;
    padding-bottom: 20px;
    background-color: beige;
}

.content, .botSection {
    padding-left: 5em;
    padding-right: 5em;
    background-color: white;
}

.userContent, .imgContent {
    border: double;
}


/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/*Spacing for the logo*/
.navbar-brand {
    float: none
}

.container {
    padding-left: 0;
}

/*These two classes are used for moving the search button to the side of the bar*/
.containerClass {
    position: relative;
}

.sumbitClass {
    position: absolute;
    top: 0;
    right: 0;
}


/*For use of map in details*/
#mapid {
    height: 500px;
    width: 500px;
}
